@model IEnumerable<MVCWebApplication3.Models.Category>

@{
    ViewData["Title"] = "GetCategories";
}

<h1>GetCategories</h1>

<p>
   
    <a asp-action="GetActiveCategories">GetAllActiveCategories</a> |
    <a asp-action="GetDeactivatedCategories">GetAllDeactiveCategories</a><br/><br/>
    <a asp-action="CreateCategory">Create New</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                    <a asp-action="UpdateCategory" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="GetCategoryById" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>|
                    <a asp-action="ActivateCategory" asp-route-id="@item.Id">Activate</a> |
                    <a asp-action="DeactivateCategory" asp-route-id="@item.Id">Deactivate</a>
            </td>
        </tr>
}
    </tbody>
</table>
