@model IEnumerable<MVCWebApplication3.Models.Category>

@{
    ViewData["Title"] = "GetCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetCategories</h1>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                    <a asp-action="UpdateCategory" asp-route-id="@item.Id" style="color: #007bff; text-decoration: none;">Edit</a> |
                    <a asp-action="GetCategoryById" asp-route-id="@item.Id" style="color: #007bff; text-decoration: none;">Details</a> |
                    <a asp-action="DeleteCategory" asp-route-id="@item.Id" style="color: #dc3545; text-decoration: none;">Delete</a> |
                    <a asp-action="ActivateCategory" asp-route-id="@item.Id" style="color: #28a745; text-decoration: none;">Activate</a> |
                    <a asp-action="DeactivateCategory" asp-route-id="@item.Id" style="color: #dc3545; text-decoration: none;">Deactivate</a>

            </td>
        </tr>
}
    </tbody>
</table>
